.SearchOptions {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 460px;
    margin-top: 20px;
    background-color: #f7f5ff;
    height: 40px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #474c76;
    padding: 0 20px;
}

.Disabled {
    opacity: 0.5;
  }

@media only screen and (max-width: 460px) {
    .SearchOptions {
        width: calc(100% - 25px);
   }
  }

@media only screen and (max-width: 325px) {
    .SearchOptions {
        flex-direction: column;
        height: 50px;
    }
}


